@import 'vendor/normalize';

// !-------- Variables
// -----------------------------------------------------------------------------


$color-primary: #117CAD;
$color-secondary: #117CAD;

$richBlack: #222222;
$white: #FFFFFF;
$green: #05b91a;

$sans: 'Open sans', sans-serif;


// !-------------- Global --------------

html {
    font-size:16px;
}

body {
    min-width:320px;
    font-family: $sans;
    font-weight: 300;
}

*, *:after, *:before {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

img {
    max-width:100%;
    height: auto;
}

// !-------------- Links --------------

a, a:link, a:visited {
    font-weight: inherit;
    color:darken($color-primary, 5%);
    text-decoration: none;
}

h1 {
    color:$color-primary;
    letter-spacing: -1px;
}