@import 'base';

// !-------- Layout Structure
// -----------------------------------------------------------------------------

html, body {
    min-height:100vh;
    min-width:320px;
    width:100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .main {
        flex:1 1 auto;
        padding:0 10%;
        margin:2.5rem auto;
    }
}

header {
    display:flex;
    align-items:center;
    height:6rem;
    padding:0 10%;
    background:$color-primary;
    
    .branding {
        text-align: left;
        color:$white;
        width:100%;
        
        a {
            color:$white;
            
            &:hover {
                color:rgba($white, 0.8);
            }
        }
    }
}

.intro {
    margin:2.5rem auto;
}

// !-------- Products
// -----------------------------------------------------------------------------

#productList {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.single-product {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:0 1 30%;
    text-align: center;
    padding:0 1.5rem;
    min-width:18rem;
    
    img {
        width:80%;
        max-width:150px;
        height:auto;
    }
}

.buy {
    border:0;
    background:$green;
    color:$white;
    padding:0.75rem 1.25rem;
    line-height: 1;
    outline:0;
    cursor:pointer !important;
    transition:background-color 0.3s ease;
    
    &:focus {
        outline:0;
    }
    
    &:hover {
        background-color:darken($green,4%);
    }
}

// !-------- Cart
// -----------------------------------------------------------------------------

// !-------- Icon

.cartWrapper {
    position: absolute;
    right:10%;
    display:flex;
    align-items: center;
    
}

#cartIcon {
    color:$white;
    font-size:1.5rem;
    background-color:darken($color-primary,5%);
    border-radius: 50%;
    padding:1rem;
    height:55px;
    width:55px;
    cursor:pointer;
    transition:all 0.3s ease;
    
    &.updated, &:hover {
        background-color:$white;
        color:darken($color-primary,5%);
    }
    
    @at-root .cartWrapper.open &:before {
        content:'\f00d';
    }
}

#cartTotal {
    margin-right:1.5rem;
    color:$white;
    font-size:1.25rem;
    font-weight: 600;
    cursor:pointer;
    
    &:empty {
        display:none;
    }
}

// !-------- Cart View

#yourCart {
    display:none;
    position:absolute;
    width:30vw;
    right:0;
    top:4.5rem;
    background:rgba($white, 0.95);
    border:1px solid #eaeaea;
    text-align: left;
    padding:0.25rem 1rem;
    
    @at-root .cartWrapper.open & {
        display:block;
    }
    
    .cartItems {
        padding:0;
        margin:0;
        list-style: none;
        margin-bottom:1rem;
        display:flex;
        flex-direction:column;
        
        &:empty {
                &:before{
                    content:'0 Items';
                    display:block;
                    font-weight: 600;
                }
                
                &:after {
                    display:none;
                }
                
                & + #cartSum {
                    display:none;
                }
        }
        
        li {
            display:flex;
            justify-content: space-between;
            padding:0 0 0.5rem 0;
            border-bottom:1px solid #cccccc;
            margin-bottom:0.5rem;
            
            .price {
                
            }
        }
    }
    
    #cartSum {
        margin-bottom:1rem;
        display: flex;
        justify-content: space-between;
        font-weight:600;
    }
}

footer {
    background:#EAEAEA;
    margin-top:2.5rem;
    padding:2rem 10%;
}








































