{{#product}}
<div class="single-product" data-sku="AW{{sku}}" data-price="{{price}}">
    <h2 class="title">{{name}} <span class="price">${{price}}</span></h2>
    <img alt="{{name}}" src="assets/img/{{img}}">
    <p class="desc">{{desc}}</p>
    <button data-name="{{name}}" data-sku="AW{{sku}}" data-price="{{price}}" class="buy">Add to Cart</button>
</div>
{{/product}}